<h3>Select category</h3>
<%= link_to "All articles", articles_path %><br/><br/>
<%= link_to "Add category", new_category_path %>

<ol>
	<% @categories.each do |category| %>
		<li><%= link_to category.name, category_path(category.id) %><br/><%= link_to "Edit", edit_category_path(category.id) %>|<%= link_to "Delete", category_path(category.id), method: :delete, data: {confirm: "Are you sure"} %></li><br/>
		<ul>
			<% category.articles.each do |article| %>
				<li><%= link_to article.title, article_path(article.id) %></li>
					<b>No. of comments : <%= article.comments.count %> </b><br/>
				<%= article.user.email %>
			<% end %>
		</ul>
	<% end %>
</ol>
